$burnt-orange: #cc5500;
$green: #76b041;

$light-blue: #33c3f0;
$white: #ffffff;
$dark-gray: #6c757d;
$light-gray: #eee;
$bright-red: #ff4136;

@mixin border-radius($size) {
  -webkit-border-radius: #{$size}px;
  -moz-border-radius: #{$size}px;
  border-radius: #{$size}px;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Work Sans", sans-serif;
}

*:focus {
  outline: none;
}

header {
  background-color: $burnt-orange;
  color: $white;
  height: 50px;

  a {
    color: $white;
    text-decoration: none;
  }

  a,
  .clickable {
    color: $white;
  }
}

main {
  flex-grow: 1;
}

a,
.clickable {
  color: $green;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

h1 {
  font-weight: 500;
  margin-top: 0;
}

input {
  border: 1px solid $light-gray;
  @include border-radius(4);
  padding: 0.3rem;

  &:focus {
    outline: none;
  }
}

.card {
  @include border-radius(4);
  border: 1px solid $light-gray;
  margin: 0 auto;
  padding: 2rem;

  .header {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .description {
    margin-bottom: 2rem;
  }
}

.button {
  display: inline-block;
  @include border-radius(7);
  padding: 0.5rem 1.2rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &.disabled {
    color: $white !important;
    background-color: $dark-gray !important;
    pointer-events: none !important;
  }

  &.primary {
    color: $white;
    background-color: $green;
  }

  &.cancel {
    color: $white;
    background-color: $bright-red;
  }
}

.bright-red {
  color: $bright-red;
}

.page-transition {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
